.aboveFold {
  display: flex;
  flex-direction: row ;
  align-items: center ;
  height: 500px ;
}

.foldCol {
  margin: 5%;
  width: 60% ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  flex-direction: column ;
  padding: 3%
}

.profilePic {
  width: 70%;
  max-width: 350px;
  border-radius: 10%;
}

.links {
  color: black;
  font-size: 30px;
  padding-left: 10px;
}

@media screen and (max-width: 650px) {
  .profilePic {
    display: none;
  }

  .foldCol {
    width: 100%;
  }
}
