.work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #efefef;
  flex-direction: column;
}

.work-heading {
  margin: 30px;
}

.work table {
  text-align: left;
  margin-bottom: 30px;
}

.work  td {
  padding: 10px;
  max-width: 700px;
}

.work p {
  padding-bottom: 20px;
}

.work-badge {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  background: #3a3b49;
  margin-top: 10px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (max-width: 650px) {
  .work  td {
    padding: 0;
  }
}
